p.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
}

@font-face {
    font-family: "My Custom Font";
    src: url(../fonts/Chapaza.ttf) format("truetype");
}

body {
	/*font-family: "My Custom Font" !important;*/
	font-family: "Courier New", Courier, monospace !important;
}

.btn {
	color: #000000;
}

html,body {
	height:100%;
}

.logo {
	width: 200px;
	height: auto;
}

.cat-image {
	max-height: 150px;
	overflow: hidden;
}

.img-cat {
	width: 100%
}

.item-card.panel {
	min-height: 463px;
}

h1 {
	font-family: Arial,sans-serif
	font-size:80px;
	color:#DDCCEE;
}

.lead {
	color:#DDCCEE;
}

.resto-category, .resto-item {
	margin-top: 15px;
}

/* Custom container */
.container-full {
	margin: 0 auto;
	width: 100%;
	min-height:100%;
	/* background-color:#110022; */
	background-color:#000000;
	color:#eee;
	overflow:hidden;
}

.container-full a {
	color:#efefef;
	text-decoration:none;
}

.v-center {
	margin-top:7%;
}

.media-icon {
	margin: 10px;
}

.admin-category .heading, .admin-item .heading, .fa.fa-eye, .fa.fa-eye-slash, .fa.fa-chevron-down, .fa.fa-chevron-up, .fa.fa-close {
	font-size: 30px;
}

.fa.fa-eye-slash {
	color: Red;
}

.admin-category .control {
	vertical-align: middle;
}

.admin-category img, .admin-item img {
	width: 50px;
}

.table.table-striped {
	margin-top: 15px;
}

.admin-category .description, .admin-item .description {
	font-size: 14px;
}

.btn-group-vertical {
	width: 60px;
}

.edger {
	width: 60px;
}
