<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>F</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<script type="text/javascript">
		var uploadCatImage = function () {
			// do nothing, must not be enclosed
		};
		var uploadItemImage = function () {
			// do nothing, must not be enclosed
		};
		var imgCatSel = 0;
		var imgItmSel = 0;
	</script>
</head>

<body>
	<input class="hidden cat-image-upload" type="file" onchange="uploadCatImage(this.files[0])">
	<input class="hidden item-image-upload" type="file" onchange="uploadItemImage(this.files[0])">
    <!-- NAV BAR -->
    <nav class="navbar-inverse navbar-default resto-nav" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"><img style="height: 25px;" src="images/headicon.png" /></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
    <!-- NAV BAR -->

    <div class="container-full resto-cover">

        <div class="row">

            <div class="col-lg-12 text-center v-center">

                <h1><img class="logo" src="images/logo-full.png" /></h1>

                <br>
                <br>
                <br>

                <form class="col-lg-12">
                	Tap to begin your dining experience
                </form>
            </div>

        </div>
        <!-- /row -->

        <div class="row">

            <div class="col-lg-12 text-center v-center" style="font-size:20pt;">
                <a href="#"><i class="fa fa-facebook media-icon"></i></a>
                <a href="#"><i class="fa fa-twitter media-icon"></i></a>
                <a href="#"><i class="fa fa-instagram media-icon"></i></a>
            </div>

        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    <!-- /container full -->

    <div class="container">
        <div class="row resto-category"></div>
    </div>
    <div class="container">
        <div class="row resto-item"></div>
    </div>
    <!-- <h1>Hello, world!</h1> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>

    <script type="text/template" class="category-template">
    	<div class="col-md-6 item-display" data-id="<%- rc.id %>">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><%- rc.name %></h3>
                </div>
                <div class="panel-body">
                	<div class="cat-image">
                    	<img class="img-cat" src="<%- rc.image %>" onerror="this.src='images/default.jpg'"  />
                    </div>
                    <p><%- rc.description %></p>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" class="item-template">
    	<div class="col-md-4 col-sm-6">
            <div class="item-card panel panel-default">
                <div class="panel-heading">
                    <h3><%- rc.name %></h3>
                </div>
                <div class="panel-body">
                    <img style="width:100%" src="<%- rc.image %>" onerror="this.src='images/default.jpg'"  />
                    <p><%- rc.description %></p>
                    <div class="pull-right">Php <%- rc.price %></div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" class="admin-table">
    	<botton class="btn btn-default new-cat">New Catgory</botton>&nbsp;|
    	<botton class="btn btn-success sync-cat"><span class="fa fa-spin fa-spinner hidden"></span> Sync</botton>
    	<botton class="btn btn-danger reset-cat"><span class="fa fa-spin fa-spinner hidden"></span> Reset</botton>
    	<table class="table table-striped">
    		<tbody class="admin-category-table" >
    		</tbody>
    	</table>
    	<div class="jumbotron">
    		<botton class="btn btn-default new-item">New Item</botton>
    		<div class="item-btn-grop-new hidden">
				<form role="form">
					<div class="form-group">
						<label for="new-item-name">Item Name</label>
						<input type="text" class="form-control" id="new-item-name" placeholder="Enter Name">
					</div>
					<div class="form-group">
						<label for="new-item-price">Price</label>
						<input type="text" class="form-control" id="new-item-price" placeholder="Enter Price">
					</div>
					<div class="form-group">
						<label for="new-cat-desc">Item Description</label>
						<textarea class="form-control" id="new-item-desc" placeholder="Enter Description"></textarea>
					</div>
				</form>
				<p>
					<div class="btn-group pull-right">
						<a class="btn btn-success save-new-item" role="button">Save</a>
						<a class="btn btn-default cancel-new-item" role="button">Cancel</a>
					</div>
				</p>
    		</div>
			<table class="table table-striped">
	    		<tbody class="admin-item-table" >
	    		</tbody>
    		</table>
    		<div class="cat-btn-grop-new hidden">
				<form role="form">
					<div class="form-group">
						<label for="new-cat-name">Category Name</label>
						<input type="text" class="form-control" id="new-cat-name" placeholder="Enter Name">
					</div>
					<div class="form-group">
						<label for="new-cat-desc">Category Description</label>
						<textarea class="form-control" id="new-cat-desc" placeholder="Enter Description"></textarea>
					</div>
				</form>
				<p>
					<div class="btn-group pull-right">
						<a class="btn btn-success save-edit" role="button">Save</a>
						<a class="btn btn-default cancel-edit" role="button">Cancel</a>
					</div>
				</p>
    		</div>
			<p class="cat-btn-grop-old hidden">
				<div class="btn-group pull-right cat-btn-grop-old hidden">
					<a class="btn btn-danger delete-edit" role="button">Delete</a>
					<a class="btn btn-default cancel-edit" role="button">Cancel</a>
				</div>
			</p>
		</div>
    </script>

    <script type="text/template" class="admin-item-item">
		<tr class="admin-item edit-hide">
			<td><img src="<%- rc.image %>" class="imgItem<%- rc.id %> all-img" onerror="this.src='images/default.jpg'" /></td>
			<td>
				<div class="heading"><span contenteditable="true" class="item-name-edit" data-id="<%- rc.id %>"><%- rc.name %></span> [P<span contenteditable="true" class="item-price-edit" data-id="<%- rc.id %>"><%- rc.price %></span>]</div>
			<div><p class="description item-desc-edit" contenteditable="true" data-id="<%- rc.id %>"><%- rc.description %></p></div></td>
			<td class="edger">
				<div class="btn-group-vertical">
					<botton class="btn btn-default pull-right control toggle-item" data-id="<%- rc.id %>" ><span class="fa fa-eye<%- rc.hideStatus %>"></span></botton>
					<botton class="btn btn-default pull-right control delete-item" data-id="<%- rc.id %>" ><span class="fa fa-close"></span></botton>
				</div>
			</td>
		</tr>
    </script>

    <script type="text/template" class="admin-item">
		<tr class="admin-category edit-hide">
			<td><img src="<%- rc.image %>" class="img<%- rc.id %> all-img" onerror="this.src='images/default.jpg'"  /></td>
			<td>
				<div class="heading" data-id="<%- rc.id %>" ><%- rc.name %></div>
			<div><p class="description" data-id="<%- rc.id %>" ><%- rc.description %></p></div></td>
			<td class="edger">
				<div class="btn-group-vertical">
					<botton class="btn btn-default pull-right control toggle-cat" data-id="<%- rc.id %>" ><span class="fa fa-eye<%- rc.hideStatus %>"></span></botton>
					<botton class="btn btn-default pull-right control edit-control" data-id="<%- rc.id %>"><span class="fa fa-chevron-down show-edit"></span></botton>
				</div>
			</td>
		</tr>
    </script>

    <script type="text/template" class="nav-template">
    	<li class="cat cat<%- rc.id %>" data-id="<%- rc.id %>"><a href="#"><%- rc.name %></a></li>
    </script>

    <script src="scripts/main.js"></script>
</body>

</html>
